*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}

/* Positioning */
/* 
.card1{
    width: 100px;height: 90px;background-color:red ; position: absolute; left: 400px;
}

.card2{
    width: 120px;height: 100px;background-color:blue ; position: absolute; left: 800px;
}

.card3{ 
    width: 140px;height: 110px;background-color:green ;
} */

/* FLEX BOX */

/* #box{
    display: FLEX;
    justify-content: space-between;
    align-items: top;
    justify-content: center;
    width: 1000px;
    height: 738PX;
    background-color: gray;
}

#box1{
    width: 200px;
    height: 141px;
    background-color: red;
}
#box2{
    width: 200px;
    height: 141px;
    background-color: green;
}
#box3{
    width: 200px;
    height: 141px;
    background-color: blueviolet;
} */
 
.nav{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 53px;
}

.nav img{
    margin: 10px;
    margin-top: 3px;
    position: absolute;
    margin-right: 95vw;
    width: 50px;
    border-radius: 110%;
    height: 40px;
}

.nav :hover{
    color: wheat;
}
.nav a{
    margin: 10px;
    margin-top: 15px;
    margin-left: 100px;
    text-decoration: none;
    color: white;
    justify-content: center;
    
}

.hero{
    height: 50vh;
    width: 100vw;
}
h1{
    position: absolute;
    margin-top: -280px;
    font-size: 80px;
    color: white;
    position: absolute;
    margin-left: 200px;
}

.images{
    width: 100vw;
    margin-left: 8px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
    bottom: 0;
    width: 100%;
}

/* Style for the content within the footer */
.footer-content {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
}